%haml
  %head
    %body
      .cgImage
        .worktitle
          %p#worktitle
            The Work
        .item_list
          .item_list__item
            = link_to "http://18.182.230.61/"do
              .item_list__item__name
                チーム開発
                merukariコピーサイト
              id:admin
              pass:2222


          .item_list__item
            = link_to "https://powerful-sands-24291.herokuapp.com/"do
              .item_list__item__name
                ポートフォリオ
