/*背景画像の設定をする*/
.cgImage{
  background: url(/top_images/alessandra-caretto-620159-unsplash-min.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
}

/*:beforeにぼかし効果を設定する*/
.cgImage:before{
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(3px);
  z-index: -1;
}
.worktitle{
  padding-top: 60px;
  color:olivedrab;
  text-align: center;
  font-size:60px;
  font-weight:bold;
  letter-spacing: 8px;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #9ccc65;
  transform: rotate(-5deg);
}

.item_list{
  margin:100px auto 0px;
  width:800px;
  color:white;
  display:flex;
  justify-content: space-between;

  &__item{
    border: 1px solid #fff;
    padding: 20px 40px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    background-color: rgba( 204, 255, 204, 0.2 );
  }

}
.item-image{
  width: 150px; height: 150px;
  object-fit: contain;
}
a:-webkit-any-link{
  color:#fff;
}
